* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica, sans-serif;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 175%;
  text-align: center;
}

div.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

div.box {
  width: 100%;
  padding: 10px;
}

div.inside-box {
  border: 1px solid black;
  position: relative;
  padding: 30px 10px 5px 10px;
  background-color: lightgrey;
  text-align: justify;
}

div.title {
  border: 1px solid black;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 33%;
  font-size: 125%;
  text-align: center;
}

#chicken {
  background-color: pink;
}

#beef {
  background-color: red;
}

#sushi {
  background-color: yellow;
}

@media (min-width: 992px) {
  div.box {
    width: 33.3%;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  div.box {
    width: 50%;
    float: left;
  }

  div#last-box {
    width: 100%;
  }
}

